.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea
.intellijPlatform
/specs/a1/b1/spec_4.spec
/specs/a1/b1/spec_5.spec
/specs/a1/b2/c1/spec_7.spec
/specs/a1/b2/spec_9.spec
/specs/a1/spec_1.spec
/specs/a1/spec_2.spec
/specs/a1/spec_3.spec
/specs/spec_6.spec
/specs/spec_8.spec
/specs/spec_10.spec
/specs/spec_11.spec
/specs/spec_12.spec
/specs/spec_13.spec
/specs/spec_14.spec
/specs/spec_15.spec
/specs/spec_16.spec
/specs/spec_17.spec
/specs/spec_18.spec
/specs/spec_19.spec
/specs/spec_20.spec
/specs/spec_21.spec
/specs/spec_22.spec
/specs/spec_23.spec
/specs/spec_24.spec
/specs/spec_25.spec
/specs/spec_26.spec
/specs/spec_27.spec
/specs/spec_28.spec
/specs/spec_29.spec
/specs/spec_30.spec
/specs/spec_31.spec
/specs/spec_32.spec
/specs/spec_33.spec
/specs/spec_34.spec
/specs/spec_35.spec
/specs/spec_36.spec
/specs/spec_37.spec
/specs/spec_38.spec
/specs/spec_39.spec
/specs/spec_40.spec
/specs/spec_41.spec
/specs/spec_42.spec
/specs/spec_43.spec
/specs/spec_44.spec
/specs/spec_45.spec
/specs/spec_46.spec
/specs/spec_47.spec
/specs/spec_48.spec
/specs/spec_49.spec
/specs/spec_50.spec
